<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="result-component">
        <h3>{{title}}</h3>
        <a href="{{}}">{{links title}}</a>
            <hr/>
        <div class="content">this is content section
        lorem30kjffjfkdhjkdhfjhgkjdf
        
        <pre>
            hthjtj jhgh shj
            sjdfhjd         ejfhjfhkjfhksjksjdhfkhdfskjfhjkfsrgegrgdfgdfgdgfdggfdgfgdggdg gsdgsgdsgdgsdgsgsgdgsgdsgs jgkshjkk
        </pre>

        <p>hjrgfshjjgfsjfjdgshgfdshgfhshjdghhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhdffffffffffdddddddddddddddddddddd</p>
        </div>
    </div>

    <div class="result-component">
        <h3>{{title}}</h3>
        <a href="{{}}">{{links title}}</a>

        <div class="content">this is content section
        lorem30kjffjfkdhjkdhfjhgkjdf
        
        <pre>
            hthjtj jhgh shj
            sjdfhjd         ejfhjfhkjfhksjksjdhfkhdfskjfhjkfsrgegrgdfgdfgdgfdggfdgfgdggdg gsdgsgdsgdgsdgsgsgdgsgdsgs jgkshjkk
        </pre>

        <p>hjrgfshjjgfsjfjdgshgfdshgfhshjdghhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhdffffffffffdddddddddddddddddddddd</p>
        </div>
    </div>

    <div class="result-component">
        <h3>{{title}}</h3>
        <a href="{{}}">{{links title}}</a>

        <div class="content">this is content section
        lorem30kjffjfkdhjkdhfjhgkjdf
        
        <pre>
            hthjtj jhgh shj
            sjdfhjd         ejfhjfhkjfhksjksjdhfkhdfskjfhjkfsrgegrgdfgdfgdgfdggfdgfgdggdg gsdgsgdsgdgsdgsgsgdgsgdsgs jgkshjkk
        </pre>

        <p>hjrgfshjjgfsjfjdgshgfdshgfhshjdghhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhdffffffffffdddddddddddddddddddddd</p>
        </div>
    </div>

    <div class="result-component">
        <h3>{{title}}</h3>
        <a href="{{}}">{{links title}}</a>

        <div class="content">this is content section
        lorem30kjffjfkdhjkdhfjhgkjdf
        
        <pre>
            hthjtj jhgh shj
            sjdfhjd         ejfhjfhkjfhksjksjdhfkhdfskjfhjkfsrgegrgdfgdfgdgfdggfdgfgdggdg gsdgsgdsgdgsdgsgsgdgsgdsgs jgkshjkk
        </pre>

        <p>hjrgfshjjgfsjfjdgshgfdshgfhshjdghhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhdffffffffffdddddddddddddddddddddd</p>
        </div>
    </div>

    <div class="result-component">
        <h3>{{title}}</h3>
        <a href="{{}}">{{links title}}</a>

        <div class="content">this is content section
        lorem30kjffjfkdhjkdhfjhgkjdf
        
        <pre>
            hthjtj jhgh shj
            sjdfhjd         ejfhjfhkjfhksjksjdhfkhdfskjfhjkfsrgegrgdfgdfgdgfdggfdgfgdggdg gsdgsgdsgdgsdgsgsgdgsgdsgs jgkshjkk
        </pre>

        <p>hjrgfshjjgfsjfjdgshgfdshgfhshjdghhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhdffffffffffdddddddddddddddddddddd</p>
        </div>
    </div>
</div>
</body>
</html>