<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpiderWeb</title>
    <link rel= "stylesheet" href= "{{ url_for('static',filename='style/index.css') }}">
    <link rel= "stylesheet" href= "../static/style/index.css">
    <link rel="stylesheet" href="./static//fonts/css/all.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="./static/fonts/js/all.min.js"></script>

</head>
<body>

   <section id="search-nav">
    <div id="container">
        <div class="logo">
            
        </div>
        <div class="search">
            <form action="/submit_form" method="POST">
            <input required type="text" placeholder ="Search" name="search-text">
        </form>
        </div>
        <div class="links">
            <ul>
                <li><a href=""><i class="fab fa-github-alt"></i><span>Github</span></a></li>
                <li><a href=""><i class="fab fa-linkedin"></i><span>Linkedin</span></a></li>
                <li class="star"><i class="far fa-star "></i></li>
            </ul>
        </div>
    </div>
   </section>

   <section class="color-manager"></section>
   

   <section id="main-section">
    <div id="container">
        <!-- left section  -->
        <div class="left-div">
            <h1>Categories</h1><hr/>
            <div class="left-div-container">
                <ul>
                    <li><a><i class="fab fa-python"></i><span>Python</span></li>
                    <li><a><i class="fas fa-chess-queen"></i><span>Games</span></a></li>
                    <li><a><i class="fab fa-aws"></i><span>Web Scraping</span></a></li>
                    <li><a><i class="fas fa-camera-retro"></i><span>Camera</span></a></li>
                    <li><a><i class="fab fa-github-alt"></i><span>Github Contribute</span></a></li>
                    <li><a><i class="fas fa-comments"></i><span>Feedback</span></a></li>
                </ul>
            </div>
        </div>

        <!-- middle result section  -->
        <div class="middle-div">




        {%if length != 0 %}

            {%for i in range(length)%}
            <div class="result-component">
                <h3>{{selectedTitle[i]}}</h3>
                <a href="{{selectedLink[i]}}" target="_blank">{{selectedLink[i]}}</a>
                <div class="content">
                    {{html[i]}}
                </div>
            </div>
            {%endfor%}
        
        {%else%}
            <img class="robo-img" src="/static/images/search.png" alt="seaching minions image ">
        {%endif%}
           
       
        </div>
            
        <div class="right-div">
            <h2>Notice</h2>
            <hr/>

            <div class="right-component">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, blanditiis voluptatum. Molestiae adipisci aperiam, ex aliquam fugit laudantium ullam corporis!</div>
        </div>
    </div>
   </section>
    <section class="footer-color-manager"></section>
   <section  id="footer-section">
      <div class="footer-links">
          <div>About us</div>
          <div>Contact me</div>
          <div>Github</div>
          <div>Linkedin</div>
          <div>Blogs</div>
      </div>
      <div class ="tag"> &copy Rupacha 2020</div>
   </section>
   <a id="return-to-top">
       <span class="icon">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
       </span>
   </a>
  
</body>
</html>