<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
   <section id="head-nav">
     
  </section>

   <section id="search-nav">
    <div id="container">
        <form action="/submit_form" method="POST">
            <input type="text" name="search-text">
            <input type="submit" value="search">
        </form>
    </div>
   </section>

   <section id="result-show">
        <div class="result-div">
        
        </div>
   </section>
</body>
</html>